/* Reset */
ul, ol {
  list-style: none;
  padding-left: 0px;
}

/* Color palette */
:root {
    --primary-color: #484A47;
    --secondary-color: #A37774;
  
    --complement1: #5C6D70;
    --complement2: #E88873;
    --black: #1E1E1E;
    --white: #FFF;
  }

  html {
    -webkit-text-size-adjust: 100%;
}

/* Typography */

body {
  font-family: "Muli";
  font-size: 11pt;
}

h1,  
h3, 
h4 {
  font-family: "Ovo";
  font-size: 36px;
  color: var(--secondary-color);
}

h2 {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5
{
  font-family: "Ovo";
}

h2 {
  font-size: 40px;
}

h5 {
  color: var(--white);
  font-size: 50px;
}

p {
  font-family: "Muli";
  color: var(--primary-color);
}

nav {
  font-family: "Ovo";
}

/* Colors */

body {
  color: var(--primary-color);
}

h1,  
h3, 
h4 {
color: var(--secondary-color);
}

h2 {
color: var(--primary-color);
}


h5 {
color: var(--white);
}

nav a {
  color: var(--complement2);
}

/* Links */

.nav :hover {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Nav */

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.nav-links li {
  display: inline-block;
  padding-right: 24px;
}

.nav-links :last-child {
  padding-right: 0px;
}

.nav a {
  font-size: 24px;
}

.logo {
  padding-right: 0px;
  width: 64px;
}

@media screen and (min-width: 720px) {
  .logo {
    width: 96px;
  }
}

/* Hero */
.hero {
  width: 100%;
  max-height: 375px;
  
  object-fit: cover;
  object-position: center center;
}

@media screen and (min-height: 720px) {
  .hero {
    max-height: 475px
  }
}

/* FOOTER */
footer {
  background-color: var(--complement2);
  color: white;
  padding-top: 5rem;
  text-align: center;
  width: 100vw;
}

.sm-container  {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 16px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  width: 24rem;
}

.credit {
  background-color: white;
  color: var(--primary-color);
  font-family: "Muli";
  font-size: 13px;
  line-height: 2.5rem;
  padding-bottom: .5rem;
  width: 100vw;
}

/* Project tile */

.project-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.project-tile > * {
  width: 50%;
}

.project-tile :first-child {
  padding-right: 24px;
}