 
/* Color palette */
:root {
    --primary-color: #F28482;
    --secondary-color: #84A59D;
  
    --complement1: #F6BD60;
    --complement2: #F7EDE2;
    --black: #1E1E1E;
    --white: #FFF;
    
  }

  html {
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    font-size: 11pt;
}

h1, 
h2, 
h3, 
h4 {
  font-family: "Ovo";
  color: var(--secondary-color);
}

p {
  font-family: "Muli";
  color: var(--secondary-color);
}

h2 {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5
ol.list li {
  font-family: "Ovo";
}

h2 {
  font-size: 40px;
}

h1,
h3 {
  font-size: 36px;
}

h5 {
  color: var(--white);
  font-size: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  font-family: "Ovo";
  display: block;
  color: #F28482;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a {
  font-family: "Muli";
  font-size: 16px;
}

.logo {
  height: 30%;
  width: 30%;
}

/* FOOTER */
footer {
  background-color: var(--complement1);
  color: white;
  padding-top: 5rem;
  text-align: center;
  width: 100vw;
}

.footer-container {
  margin: auto;
}

.sm-container  {
  display: flex;
  justify-content: center;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  width: 24rem;
}

.credit {
  background-color: white;
  color: var(--primary-color);
  font-family: "Muli";
  font-size: 13px;
  line-height: 2.5rem;
  padding-bottom: .5rem;
  width: 100vw;
}

