/* Reset */
ul, ol {
  list-style: none;
  padding-left: 0px;
}

/* Color palette */
:root {
    --primary-color: #484A47;
    --secondary-color: #A37774;
  
    --complement1: #5C6D70;
    --complement2: #E88873;
    --black: #1E1E1E;
    --white: #FFF;
  }

  html {
    -webkit-text-size-adjust: 100%;
}

/* Typography */

body {
  font-family: "Muli";
  font-size: 11pt;
}

h1,  
h3, 
h4 {
  font-size: 38px;
  color: var(--complement1);
}

h2 {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5
{
  font-family: "Muli";
}

h2 {
  font-size: 55px;
  text-align: center;
}

h3 {
  font-weight: bold;
  letter-spacing: 8px;
}

h4 {
  font-size: 55px;
  text-align: center;
}

h5 {
  color: var(--white);
  font-size: 50px;
}

.slogan {
  font-size: 30px;
  padding-bottom: 100px;
}

p {
  font-family: "Muli";
  color: var(--primary-color);
}

nav {
  font-family: "Muli";
}

.big-bold {
  font-weight: bold;
  font-size: 20px;
}

/* Colors */

body {
  color: var(--primary-color);
}

h1,  
h3, 
h4 {
color: var(--secondary-color);
}

h2 {
color: var(--primary-color);
}

h5 {
color: var(--white);
}


/* Links */

a:link {
  color: var(--complement2);
}

nav a {
color: var(--complement2);
}

.nav :hover {
  color: var(--secondary-color);
  text-decoration: none;
}

a.btn {
  color: var(--complement2);
  border: 1px solid #E88873;
  border-radius: 20px;
  display: inline-block;
  margin: 30px;
  padding: 8px 50px 8px 50px;
  
  }

a.button:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

/* Nav */

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.nav-links li {
  display: inline-block;
  padding-right: 24px;
}

.nav-links :last-child {
  padding-right: 0px;
}

.nav a {
  font-size: 24px;
}

.logo {
  padding-right: 0px;
  width: 64px;
}

@media screen and (min-width: 720px) {
  .logo {
    padding-top: 30px;
    width: 96px;
  }
}

/* Hero */
.hero {
  width: 100%;
  max-height: 375px;
  
  object-fit: cover;
  object-position: center center;
  padding-top: 100px;
}

@media screen and (min-height: 720px) {
  .hero {
    max-height: 475px
  }
}

/* Image Styling */

.bio-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 35%;
}

.contact-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 18%;
}

.mycloud-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 35%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 65%;
}

.sketches {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 50%;
}

/* Contact Page */

.contact-me {
  margin-top: 6rem;
  text-align: center;
}

input {
  font-family: 'Muli';
  font-size: 20px;
  line-height: 0.4rem;
  width: 100%;
  padding: 12px 20px;
  text-align: left;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: var(--primary-color);
}

textarea {
  color: var(--primary-color);
  font-family: 'Muli';
  font-size: 20px;
  line-height: 1.4rem;
  width: 100%;
  padding: 12px 20px;
  text-align: left;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formbutton {
  border-radius: 4px;
  border-color: var(--primary-color);
  border-width: 1.5px;
  width:100%;
  font-family: "Muli";
  font-size: 20px;
  line-height: 1.4rem;
  padding-top:12px;
  padding-bottom: 12px;
  background-color: white;
  color: var(--primary-color);
  font-weight: bold;
}

.formbutton:hover {
  background-color: var(--primary-color);
  color: white;
}

.contactform {
  margin-left: 12rem;
  margin-right: 12rem;
}

/* Footer */
footer {
  background-color: var(--complement2);
  color: white;
  padding-top: 5rem;
  text-align: center;
  width: 100vw;
}

.sm-container  {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 16px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
  width: 24rem;
}

.credit {
  background-color: white;
  color: var(--primary-color);
  font-family: "Muli";
  font-size: 13px;
  line-height: 2.5rem;
  padding-bottom: .5rem;
  width: 100vw;
}

/* Project tile */

.project-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 95px;
}

.project-tile > * {
  width: 50%;
}

.project-tile :first-child {
  padding-right: 24px;
}