*,
*::after,
*::before {
  box-sizing: border-box;
}
  
/* Color palette */
:root {
    --primary-color: #F28482;
    --secondary-color: #84A59D;
  
    --complement1: #F6BD60;
    --complement2: #F7EDE2;
    --black: #1E1E1E;
    --white: #FFF;
    
  }

  @font-face {
    font-family: Ovo;
    src: url(Ovo-Regular.ttf)
  }

body {
    width: 100%;
    font-size: 14pt;
}

h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 100%;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0.5em;
}
